body {
	padding:50px;
	font:14px "Lucida Grande",Helvetica,Arial,sans_serif;
}

a{
	color:#00B7FF;
}
#content {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#room{
	background-color:#ddd;
	margin-bottom:lem;
}

#messages{
	width:690px;
	height:300px;
	overflow:auto;
	background-color:#eee;
	margin-bottom:lem;
	margin-right:10px;
}